{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Upload CSV{% endblock %}
{% block meta_description %}Upload a csv to Wayblazer.{% endblock %}

{% block body %}
    <div class="container sm-margin-top">
        <div class="row text-center lg-margin-bottom">
            <h1>CSV Upload</h1>

            <div class="col-md-8 col-md-offset-2 well">
                {% call f.file_form_tag('page.csv_upload') %}
                    <legend>Upload your CSV here</legend>

                    {% call f.form_group(form.csv) %}

                    {% endcall %}

                    <button type="submit" class="btn btn-primary">Upload</button>

                {% endcall %}
            </div>
        </div>
    </div>
{% endblock %}