{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Upload CSV{% endblock %}
{% block meta_description %}Upload a csv to Wayblazer.{% endblock %}

{% block body %}
    <div class="container sm-margin-top">
        <div class="row text-center lg-margin-bottom">
            <h1>Rest Docs</h1>

            {# Side Navigation. #}
            <div id="api-nav">
            <div class="col-md-3 nav api-nav hidden-sm">
                <ul>
                    <li>
                        <a href="#employees">Employees</a>
                    </li>
                    <li>
                        <a href="#duplicate_numbers">Duplicate Numbers</a>
                    </li>
                    <li>
                        <a href="#companies">Companies</a>
                    </li>
                    <li>
                        <a href="#zipcodes">Zipcodes</a>
                    </li>
                    <li class="off-screen"><a href="#e" class="off-screen">e</a></li>
                </ul>
            </div>
            </div>

            {# Main Content. #}
            <div class="col-md-9 col-md-offset-3 api-docs" id="api-docs" data-spy="scroll" data-target="#api-nav">



{#                EMPLOYEES#}



                <div class="api-doc" id="employees">

                    <h2>Employees</h2>

                    <hr>

                    <div class="endpoint">
                        <code>localhost:8000/api/employee</code>
                    </div>

                    <div class="parameters">
                        <h4>Parameters:</h4>
                        <ul>
                            <li>
                                <b>company</b>
                                <p>Filters by company employee is associated with</p>
                            </li>
                            <li>
                                <b>exclude_state</b>
                                <p>Excludes employees from a certain state (i.e. TX, LA, CA)</p>
                            </li>
                            <li>
                                <b>email_provider</b>
                                <p>Filters employees by their email provider (i.e. gmail, yahoo)</p>
                            </li>
                            <li>
                                <b>limit</b>
                                <p>Selects the amount of employees you wish to list in the JSON response (default: 10)</p>
                            </li>
                            <li>
                                <b>offset</b>
                                <p>Selects the amount of employees you wish to offset in the response (default: 0)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="examples">
                        <h4>Examples:</h4>
                        <div class="well">
                            <h5>Searching by company</h5>
                            <p>
                                This endpoint searches for employees in the "Rapid Trading Intl" company with a result limit of 10 employees per request and starting on the 21st employee. Offset and Limit are explicitly set.
                            </p>
                            <code>GET</code> <code>localhost:8000/api/employee?company=Rapid+Trading+Intl&limit=10&offset=20</code>
                            <br>
                            <pre>
                                <code>
{
  "count": 70,
  "next": "http://localhost:8000/api/employee?company=Rapid+Trading+Intl&limit=10&offset=30",
  "pages": 7,
  "previous": "http://localhost:8000/api/employee?company=Rapid+Trading+Intl&limit=10&offset=10",
  "results": [
    {
      "company": {
        "addresses": [
          {
            "city": "Fairbanks",
            "county": "Fairbanks North Star",
            "id": 4,
            "route": "1048 Main St",
            "state": "AK",
            "zip": "99708"
          }
        ],
        "id": 4,
        "name": "Rapid Trading Intl",
        "phone": "907-231-4722",
        "web": "http://www.rapidtradingintl.com"
      },
      "email": "cecily@hollack.org",
      "first_name": "Cecily",
      "id": 63,
      "last_name": "Hollack",
      "number": "512-861-3814"
    },
    ...
  ]
}
                                </code>
                            </pre>
                        </div>
                        <div class="well">
                            <h5>Excluding a state and filtering by email provider</h5>
                            <p>
                                This endpoint searches for employees not in the state of TX with a yahoo email account.
                            </p>
                            <code>GET</code> <code>http://localhost:8000/api/employee?exclude_state=TX&email_provider=yahoo</code>
                            <br>
                            <pre>
                                <code>
{
  "count": 82,
  "next": "http://localhost:8000/api/employee?exclude_state=TX&email_provider=yahoo&limit=10&offset=10",
  "pages": 8,
  "previous": null,
  "results": [
    {
      "company": {
        "addresses": [
          {
            "city": "New Orleans",
            "county": "Orleans",
            "id": 1,
            "route": "6649 N Blue Gum St",
            "state": "LA",
            "zip": "70116"
          }
        ],
        "id": 1,
        "name": "Benton, John B Jr",
        "phone": "504-621-8927",
        "web": "http://www.bentonjohnbjr.com"
      },
      "email": "mitsue_tollner@yahoo.com",
      "first_name": "Mitsue",
      "id": 7,
      "last_name": "Tollner",
      "number": "504-845-1427"
    },
    ...
  ]
}
                                </code>
                            </pre>
                        </div>
                    </div>

                </div>





{#                DUPLICATE NUMBERS#}





                <div class="api-doc" id="duplicate_numbers">

                    <h2>Duplicate Numbers</h2>

                    <hr>

                    <div class="endpoint">
                        <code>localhost:8000/api/duplicate_numbers</code>
                    </div>

                    <div class="parameters">
                        <h4>Parameters:</h4>
                        <ul>
                            <li>
                                <b>limit</b>
                                <p>Selects the amount of employees you wish to list in the JSON response (default: 10)</p>
                            </li>
                            <li>
                                <b>offset</b>
                                <p>Selects the amount of employees you wish to offset in the response (default: 0)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="examples">
                        <h4>Examples:</h4>
                        <div class="well">
                            <h5>Search Phone Numbers with Multiple Employees</h5>
                            <p>
                                This is a specialized endpoint that searches through phone numbers and returns any that have more than one employee associated with them.
                            </p>
                            <code>GET</code> <code>localhost:8000/api/duplicate_numbers</code>
                            <br>
                            <pre>
                                <code>
{
  "count": 2,
  "next": null,
  "pages": 0,
  "previous": null,
  "results": [
    {
      "employees": [
        {
          "email": "jbutt@gmail.com",
          "first_name": "James",
          "id": 1,
          "last_name": "Butt"
        },
        {
          "email": "josephine_darakjy@darakjy.org",
          "first_name": "Josephine",
          "id": 2,
          "last_name": "Darakjy"
        },
        {
          "email": "art@venere.org",
          "first_name": "Art",
          "id": 3,
          "last_name": "Venere"
        },
        {
          "email": "lpaprocki@hotmail.com",
          "first_name": "Lenna",
          "id": 4,
          "last_name": "Paprocki"
        },
        {
          "email": "donette.foller@cox.net",
          "first_name": "Donette",
          "id": 5,
          "last_name": "Foller"
        },
        {
          "email": "simona@morasca.com",
          "first_name": "Simona",
          "id": 6,
          "last_name": "Morasca"
        },
        {
          "email": "mitsue_tollner@yahoo.com",
          "first_name": "Mitsue",
          "id": 7,
          "last_name": "Tollner"
        },
        {
          "email": "leota@hotmail.com",
          "first_name": "Leota",
          "id": 8,
          "last_name": "Dilliard"
        }
      ],
      "id": 1,
      "number": "504-845-1427"
    },
    {
      "employees": [
        {
          "email": "hubert@walthall.org",
          "first_name": "Hubert",
          "id": 406,
          "last_name": "Walthall"
        },
        {
          "email": "arthur.farrow@yahoo.com",
          "first_name": "Arthur",
          "id": 407,
          "last_name": "Farrow"
        }
      ],
      "id": 399,
      "number": "330-566-8898"
    }
  ]
}
                                </code>
                            </pre>
                        </div>
                    </div>

                </div>




{#                COMPANIES#}





                <div class="api-doc" id="companies">

                    <h2>Companies</h2>

                    <hr>

                    <div class="endpoint">
                        <code>localhost:8000/api/companies</code>
                    </div>

                    <div class="parameters">
                        <h4>Parameters:</h4>
                        <ul>
                            <li>
                                <b>employee_count</b>
                                <p>Filters companies based on the number of employees they have</p>
                            </li>
                            <li>
                                <b>state</b>
                                <p>filter companies based on which state their in</p>
                            </li>
                            <li>
                                <b>limit</b>
                                <p>Selects the amount of employees you wish to list in the JSON response (default: 10)</p>
                            </li>
                            <li>
                                <b>offset</b>
                                <p>Selects the amount of employees you wish to offset in the response (default: 0)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="examples">
                        <h4>Examples:</h4>
                        <div class="well">
                            <h5>Search companies based on state.</h5>
                            <p>
                                This endpoint filters companies that are from TX
                            </p>
                            <code>GET</code> <code>localhost:8000/api/company?state=TX</code>
                            <br>
                            <pre>
                                <code>
{
  "count": 24,
  "next": "http://localhost:8000/api/company?state=TX&limit=10&offset=10",
  "pages": 2,
  "previous": null,
  "results": [
    {
      "addresses": [
        {
          "city": "Dallas",
          "county": "Dallas",
          "id": 18,
          "route": "627 Walford Ave",
          "state": "TX",
          "zip": "75227"
        }
      ],
      "id": 18,
      "name": "Ninas Indian Grs & Videos",
      "phone": "214-339-1809",
      "web": "http://www.ninasindiangrsvideos.com"
    },
    {
      "addresses": [
        {
          "city": "Waco",
          "county": "McLennan",
          "id": 22,
          "route": "8927 Vandever Ave",
          "state": "TX",
          "zip": "76707"
        }
      ],
      "id": 22,
      "name": "Admiral Party Rentals & Sales",
      "phone": "254-463-4368",
      "web": "http://www.admiralpartyrentalssales.com"
    },
    ...
  ]
}
                                </code>
                            </pre>
                        </div>
                        <div class="well">
                            <h5>Search companies based on employee count.</h5>
                            <p>
                                This endpoint filters companies that have exactly 3 employees.
                            </p>
                            <code>GET</code> <code>localhost:8000/api/company?employee_count=3</code>
                            <br>
                            <pre>
                                <code>
{
  "count": 2,
  "next": null,
  "pages": 0,
  "previous": null,
  "results": [
    {
      "addresses": [
        {
          "city": "Ontario",
          "county": "San Bernardino",
          "id": 6,
          "route": "52777 Leaders Heights Rd",
          "state": "CA",
          "zip": "91761"
        }
      ],
      "id": 6,
      "name": "Biltmore Investors Bank",
      "phone": "909-639-9887",
      "web": "http://www.biltmoreinvestorsbank.com"
    },
    {
      "addresses": [
        {
          "city": "Clarks Summit",
          "county": "Lackawanna",
          "id": 7,
          "route": "83 County Road 437 #8581",
          "state": "PA",
          "zip": "18411"
        }
      ],
      "id": 7,
      "name": "Bailey Cntl Co Div Babcock",
      "phone": "570-867-7489",
      "web": "http://www.baileycntlcodivbabcock.com"
    }
  ]
}
                                </code>
                            </pre>
                        </div>
                    </div>

                </div>





{#                ZIPCODES#}





                <div class="api-doc" id="zipcodes">

                    <h2>Zipcodes</h2>

                    <hr>

                    <div class="endpoint">
                        <code>localhost:8000/api/zipcode</code>
                    </div>

                    <div class="parameters">
                        <h4>Parameters:</h4>
                        <ul>
                            <li>
                                <b>state</b>
                                <p>Selects the state you wish to search in.</p>
                            </li>
                            <li>
                                <b>limit</b>
                                <p>Selects the amount of employees you wish to list in the JSON response (default: 10)</p>
                            </li>
                            <li>
                                <b>offset</b>
                                <p>Selects the amount of employees you wish to offset in the response (default: 0)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="examples">
                        <h4>Examples:</h4>
                        <div class="well">
                            <h5>Search Zipcodes based on state</h5>
                            <p>
                                This is a specialized endpoint that searches through addresses and returns zipcodes from certain states. The limit was set to 5 on this endpoint.
                            </p>
                            <code>GET</code> <code>localhost:8000/api/zipcode?state=CA&limit=5</code>
                            <br>
                            <pre>
                                <code>
{
  "count": 53,
  "next": "http://localhost:8000/api/zipcode?state=CA&limit=5&offset=5",
  "pages": 10,
  "previous": null,
  "results": [
    {
      "zip": "91761"
    },
    {
      "zip": "92501"
    },
    {
      "zip": "90212"
    },
    {
      "zip": "95827"
    },
    {
      "zip": "94710"
    }
  ]
}
                                </code>
                            </pre>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}